:root {
    --ff-sans: "Poppins", system-ui, sans-serif;

    --fw-light: 200;
    --fw-normal: 400;
    --fw-medium: 500;
    --fw-bold: 600;
    --fw-xbold: 800;
    --fw-black: 900;

    --fs-regular: 0.9357rem;
    --fs-medium: 1.25rem;
    --fs-large: 1.625rem;
    --fs-xlarge: 2.5rem;
}


html {
    font-family: var(--ff-sans);
    font-size: var(--fs-regular);
    font-weight: var(--fw-normal);
    color: #a3a5ae;
    line-height: 1.7;
}

/* MOBILE FIRST LAYOUT */
h1 {
    font-size: 1.8rem;
    font-weight: var(--fw-light);
}

h1 span {
    font-weight: 600;
    color: #504f4f;
    display: inline-block;
    margin-top: 1rem;
}

.title-copy {
    margin-top: 2rem;
    font-size: 0.95rem;
    line-height: 1.7;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5rem;
    margin-top: 6rem;
}

.title {
    text-align: center;
    max-width: 330px;
}

.cards {
    display: grid;
    grid-template-columns: repeat(1, minmax(200px, 320px));
    gap: 2rem;
    margin-bottom: 5rem;
}

.card-icon {
    display: flex;
    justify-content: flex-end;
}

.card {
    box-shadow: 0 1rem 1rem -0.5rem rgba(0 50 100 / 0.3);
    border-radius: 5px;
    padding: 2rem;
}

.card-heading {
    margin-bottom: 1rem;
    font-size: 1.6rem;
    font-weight: 600;
    color: #504f4f;
}

.card-copy {
    margin-bottom: 2.3rem;
    line-height: 1.7;
    font-size: 0.9rem;
}

.border-teal {
    border-top: 4px solid #47d1d1;
}

.border-red {
    border-top: 4px solid #eb5554;
}

.border-yellow {
    border-top: 4px solid #fbad48;
}

.border-blue {
    border-top: 4px solid #559cee;
}
.attribution {
    max-width: 320px;
    text-align: center;
    background-color: #2a2929;
    color: #95ff00;
    margin-inline: auto;
    padding: 0.7rem;
    margin-bottom: 1rem;
    border-radius: 5px;
    font-size: 0.7rem;
}
.attribution a:link,
.attribution a:visited {
    text-decoration: underline;
    color: #95ff00;
}

@media (min-width:800px) {
    .cards {
        display: grid;
        grid-template-columns: repeat(2, minmax(200px, 320px));
        gap: 2.963vh;
        margin-bottom: 7.407vh;
    }

    .main {
        min-height: 100vh;
        margin-top: 8.889vh;
        gap: 7.407vh;
    }

    .title {
        max-width: 500px;
    }
}

@media (min-width:1024px) {
    .cards {
        display: grid;
        grid-template-columns: repeat(3, minmax(200px, 320px));
        grid-template-areas:
            ".      two     ."
            "one    two     four"
            "one    three   four"
            ".      three   .";
    }

    .card-one {
        grid-area: one;
    }

    .card-two {
        grid-area: two;
    }

    .card-three {
        grid-area: three;
    }

    .card-four {
        grid-area: four;
    }
    .title {
        max-width: 500px;
    }
    .card-heading {
        font-size: 1.2rem;
    }
    .title-copy {
        font-size: 1rem;
    }
    .card-copy {
        font-size: 0.9rem;
    }
}